.select {
  -webkit-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8"><path fill="%23000000" d="M12.919 0.179993H1.079C0.119001 0.179993 -0.360999 1.33999 0.319001 2.01999L5.499 7.19999C6.329 8.02999 7.679 8.02999 8.509 7.19999L10.479 5.22999L13.689 2.01999C14.359 1.33999 13.879 0.179993 12.919 0.179993Z"/></svg>');
  background-repeat: no-repeat;
  background-position: center right 19px;
  cursor: pointer;
}
