:root {
  --light-gray: #f7f8fb;
  --gray: #a7aab0;
  --main-text: #4b4b4f;
  --secondary-text: #74747b;
  --blue: #5a94ed;
  --light-blue: #79bdf2;
  --light-blue-2: #71d5f9;
  --light-blue-shadow: #96ccf5;
  --alice-blue: #f3faff;
  --white: #fff;
  --gray-forms: #e9e9ed;
}
